@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
/** General Selectors*/
body {
    width: 100%;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
}
/** General Selectors*/

/*? ID Selector */
#JobsCounter
{
    position: absolute;
    bottom: 0.5vh;
    right: 0.7vh;
}
#playerscounter
{
    letter-spacing: 0px;
}
/*? ID Selectors */


/*! Class Selectors */
.textstat 
{
    width: 2vh;
    float: right;
    text-align: right;
    font-size: 1.0vh;
    margin-top: -0.25vh;
}
.JobCounter
{
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    padding: 0.35vh;
    text-align: center;
    margin-top: 0.3vh;
    border-radius: 0.4vh;
    font-size: 1.2vh;
    letter-spacing: 5px;
}
.IdCounter {
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    padding: 0.35vh;
    text-align: center;
    margin-top: 0.3vh;
    border-radius: 0.4vh;
    font-size: 1.0vh;
    letter-spacing: 1px;
}
.counter
{
    letter-spacing: 0px;
}
/*! Class Selectors */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	font-family: 'Do Hyeon', sans-serif;
}